@media(max-width: 425px){
  body{
    padding: 2rem 0.75rem;
  }
  .radioBtnContainerWrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media(min-width: 426px) and (max-width: 768px){
  body{
    padding: 4rem 1.5rem;
  }
  .firstLastWrapper{
    max-width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .radioBtnContainerWrapper{
    display: flex;
    gap: 1rem;

    font-size: max(0.75rem, 2.25vw);
  }
  #generalQueryLabel, #supportRequestLabel, .radioBtnSelected{
    align-self: center;
  }
}
@media(min-width: 769px) and (max-width: 1024px){
  body{
    padding: 5vw 15vw;
  }
  .firstLastWrapper{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .radioBtnContainerWrapper{
    display: flex;
    gap: 1rem;

    font-size: min(1.5vw, 1.25rem);
  }
  #generalQueryLabel, #supportRequestLabel, .radioBtnSelected{
    align-self: center;
  }
  .submitBtn{
    font-size: 1.1rem;
  }
}
@media(min-width: 1025px){
  body{
    padding: 5vw 25vw;
  }
  form{
    max-width: 1000px;
  }
  .firstLastWrapper{
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .radioBtnContainerWrapper{
    display: flex;
    gap: 1rem;

    font-size: min(1.5vw, 1.25rem);
  }
  #generalQueryLabel, #supportRequestLabel, .radioBtnSelected{
    align-self: center;
  }
  .submitBtn{
    font-size: 1.1rem;
  }
}

body{
  position: relative;

  height: 100dvh;
  background-color: var(--green-200);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
form{
  background-color: var(--white);
  padding: 1.5rem;

  border-radius: 1rem;
  width: 100%;
}
header{
  padding-bottom: 1.5rem;
}
main{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}
.textInputContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.textInput{
  padding: 1rem;
  border-radius: 0.5rem;

  width: 100%;
}
fieldset{
  border: none;
}
legend{
  padding-bottom: 1.15rem;
}
.radioBtnContainer{
  border: 1px solid var(--default-input-gray);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}
#consentCheckboxWrapper{
  padding: 1rem 0;
}
#consentCheckboxContainer{
  display: flex;
  align-items: center;

  font-size: min(3.75vw, 1.05rem);
}
.submitBtn{
  border: none;
  padding: 1rem 0;
  border-radius: 0.5rem;

  background-color: var(--green-600);
  color: var(--white);
}